body{
    background: #e4fcff;
}


#tabuleiro{
    background-color: #e4fcff; 
    border-spacing: 10px;
    margin: auto;
}

#tabuleiro th, td{
    width: 135px;
    height: 135px;
    cursor: pointer;
    background-color: #e4fcff;
    border: 1px solid #e4fcff;
    border-collapse: collapse; 
    background-color: #e165a8;
    border-radius: 15px;
}


h2{
    text-align: center;
    color: #55acee;
    font-size: 32px;
    text-shadow: 10pxp 10px 10px #000000;
}
