body{
    background: #ffffff;
    font-family: 'Annie Use Your Telescope';font-size: 22px;
}


.botao{
    width: 135px;
    margin-top: 250px;
    margin-left: 650px;
    }


h2{
    text-align: center;
    margin-top: 150px;
}





    